@import "~@blueprintjs/core/dist/blueprint.css";

body {
    padding-top: 50px;
}

main {
    min-height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

content {
    margin: 4px;
    padding: 4px;
    flex-grow: 1;
    max-width: 800px;
    flex-basis: 60%;
    order: 2;
}

left {
    margin: 4px;
    padding: 4px;
    flex-basis: 20%;
    order: 1;
}

right {
    margin: 4px;
    padding: 4px;
    flex-basis: 20%;
    order: 3;
}

.questionItem {
    margin: 4px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.questionItem > .votesAnswersViews {
    width: 280px;
    order: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.votesAnswersViews > .pt-card {
    text-align: center;
}

.questionItem > .questionSummary {
    margin: 4px;
    padding: 5px;
    flex-grow: 2;
    order: 2;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.questionSummary > .tagsAndOwner {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
}

.tagsAndOwner > .questionTags {
    flex-grow: 1;
    text-align: left;
}

.tagsAndOwner > .questionOwner {
    flex-grow: 1;
    text-align: right;
}

.questionDetail {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.questionBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

.questionScore {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionText, .questionTags, .questionOwner, commentBlock {
    margin: 4px;
}

.questionOwner {
    display: flex;
    justify-content: flex-end;
}

.userBadge {
    background-color: #E1E8ED;
    text-align: right;
}

.comment {
    /*margin: 2px;*/
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.commentScore {
    color: #BFCCD6;
    margin-right: 15px;
}